header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
    padding: 20px;
  }
  
  
  header input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  header button {
    padding: 10px ;
    font-size: 16px;
    background-color: #525151;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  header button:hover {
    background-color: #3d3d3d;
  }
  
 
  